.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.box {
  background-color: hsl(195, 100%, 97%);
}

.section {
  height: 100vh;
  background-color: hsl(185, 100%, 99%);
}

.table {
  background-color: inherit;
}
